/* ========================================================================== */
/* PARTIAL CSS RESET */
/* ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul li {
    list-style: none;
  }
  .content-container {
    max-width: 1200px;
    margin: 0 auto;
  }
/* ========================================================================== */
/* BASIC */
/* ========================================================================== */
  header {
    background-color: #002e46;
    padding: 10px;
  }

  header h1 {
    color: #fff;
    text-align: center;
  }

  main {
    padding: 20px;
  }




  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
  }

  .logo {
    margin-right: auto;
  }

  .title {
    text-align: center;
  }

  img {
    margin-right: 20px;
    height: auto;
  }